.CardItem{
    margin: 25px 15px 0 15px;
    width: 328px;
    height: 481px;
    background-color: #78CCF0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    border-radius: 24px;        
}

.ItemHeader{
    font-family: cursive;
    margin: 15px 0 20px 0;
    font-weight: 600;
    color: #FFFFFF;
}

.ItemImg{
    border-radius: 10px;
    margin-bottom: 15px;  
    cursor: -webkit-zoom-in;
    cursor: zoom-in; 
    height: 225px;
}

.Info{
    font-size: 16px;
    font-weight: 600;
    color: #2E2D33;
    
}
.Info:hover {font-weight: 800;}

.ItemFooter{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: #FFF2CC;
    border-radius: 10px;
}

        a:link {
            color: #2E2D33;
            font-weight: 600;
            text-decoration: none;
          }
          
          a:visited {
            color: rgb(239, 40, 139);
            font-weight: 600;
            text-decoration: none;
          }
          
          a:hover {
            color: rgb(231, 61, 146);
            font-weight: 600;
            text-decoration: underline;
          }
          
          a:active {
            text-decoration: underline;
          }
    

